.jumbotron-backgroundImage {
    background: #000 url("../img/backgroundImage.PNG") top center no-repeat;
    background-size: cover;
    height: 100% !important;
    opacity: 0.9;
    filter: alpha(opacity=60);
    color: #fff;

  }
  div.transbox {
    height: 100% !important;
    background-color: black;
    border: 1px solid black;
    opacity: 0.7;
    padding: 3rem ;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }
  
  div.transbox h1, h3 {
    margin: 3%;
    height: 100% !important;
    font-weight: bold;
    color: white;
    text-align:center
  }
